.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  padding: 20px;
  margin-top: 76px;
}

.about {
  background-color: rgb(255, 210, 210);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  height: 100%;
  width: 100%;
  clear: both;
  padding-top: 10px;
}



@media (max-width: 991px) {
  .intro {
    margin-top: 0px;
    background-image: linear-gradient(rgba(255, 225, 187, 0.7), rgb(255, 234, 234)), url('../images/intro_3.jpg');

  }

}

@media (min-width: 992px) {
  .intro {
    margin-top: 0px;
    background-image: linear-gradient(rgba(255, 225, 187, 0.7), rgb(255, 234, 234));

  }

}