.intro {
  background-image: linear-gradient(rgba(188, 238, 192, 0.7), rgb(255, 210, 210)), url("../images/intro_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  padding: 20px;
  margin-top: 76px;
}

.about {
  background-color: rgb(255, 210, 210);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  height: 100%;
  width: 100%;
  clear: both;
  padding-top: 10px;
}

.buy {
  background-color: rgb(255, 210, 210);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  height: 350px;
  clear: both;
  padding: 20px;
}