.proportions {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.column-1-3 {
  width: 33.33%;
  float: left;
}

.buffer-top {
  margin-top: 20px;
}

.buffer-top-large {
  margin-top: 40px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-bottom-large {
  margin-bottom: 40px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}