.header {
  position: fixed;
  width: 100%;
  background: rgb(252, 229, 229);
  top: 0;
  opacity: 0.95;
  height: 76px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 36px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}

@media (max-width: 640px) {
  .header {
    position: inherit;
    width: auto;
    height: auto;

    background: rgb(252, 229, 229);
    opacity: 1;
  }

  .header-nav,
  .header-logo {
    float: none;
  }
}

@media (max-width: 360px) {
  .header-nav-item {
    display: block;
  }
}

.header-nav-link:hover {
  color: rgb(63, 0, 0);
  transition: all ease .3s;
}