.intro {
  background-image: linear-gradient(#6db8cfe0, rgba(188, 238, 192, 0.7)), url("../images/intro_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;

  padding: 20px;
  margin-top: 76px;
}

.intro-logo {
  width: 120px;
  height: auto;
  margin-bottom: 40px;
}

.intro .text-lead {
  max-width: 70%;
  margin: 0 15%;
}