.title-large {
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: crimson;
}

.title {
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: rgb(139, 43, 43);

}


.text-center {
  text-align: center;
}